*{
    background-color: rgb(194, 218, 239);
}

.Form{

    margin-left: 40%;


}

.task{
position:absolute ;


}

.text{
    display: flex;
    position: relative;

   
}

.button{
    position: relative;
    left: 100px;
    top: 25px;
}

